.intro-cont {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 100px;
  margin-left: 125px;
  gap: 75px;
  padding-right: 50px;
  flex-wrap: wrap;
}

.intro-img {
  border-radius: 10px;
  width: 200px;
  height: 250px;
}

.intro-text {
  text-align: left;
  flex-wrap: wrap;
}
.hi-im-arch {
  font-size: 75px;
  margin-bottom: 30px;
  margin-top: 0px;
}

.company-logos {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.inner-logo-cont {
  margin-left: -50px;
  padding-left: -10px;
}

.project-title {
  display: flex;
  justify-content: center;
  margin-top: 100px; /**/
  text-align: center;
}
