.intro-cont {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 100px;
  margin-left: 125px;
  gap: 75px;
  padding-right: 50px;
  flex-wrap: wrap;
}

.intro-img {
  border-radius: 10px;
  height: 300px;
  overflow: hidden;
  align-items: center;
}

.intro-text {
  text-align: left;
  flex-wrap: wrap;
}
.hi-im-arch {
  font-size: 75px;
  margin-bottom: 30px;
  margin-top: 0px;
}

.company-logos {
  width: 40px;
  height: 40px;
  margin: 10px;
  background-color: "#CCCCCC";
}

.inner-logo-cont {
  margin-left: -50px;
  padding-left: -10px;
}

.project-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.resume img {
  border: 3px solid lightgray;
  border-radius: 1%;
}

.resume-text-cont {
  display: flex;
}

.typewriter {
  overflow: hidden;
  border-right: 0.05em solid #cccccc;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.05em; 
  animation: typing 0.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 9ch; 
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #cccccc;
  }
}
