#social-container{
  display:flex;
  align-items:center;
  margin: -40px auto 0px;
  justify-content: center;
  padding-top:10px;
  padding-left:25px;
}

.icon {
  padding-right: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 25px;
  font-family: sans-serif;
  padding-top:40px;
}

#main{
  display:flex;
  justify-content:center;
  align-items:center;
  margin: -50px auto 0px;
  background-image: linear-gradient(rgb(223, 223, 255), rgb(131, 180, 196));
}

.welcome-text{
  text-align:center;
  font-family: "Roboto";
  font-size:30px;
  width:500px;
  padding: 100px;
}

.name-text{
  font-size:80px;
}

.pic {
  border-radius:50%;
  height: 20rem;
  margin-left: 40px;
  flex-direction: column;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('fonts/EB_Garamond,Roboto/Roboto/Roboto-Bold.ttf') format('truetype');
}

.navbar ul{
  list-style-type: none;
  background-color: rgb(173, 173, 200);
  padding:0px;
  margin:0px;
  overflow:hidden;
}

.navbar a{
  color: black;
  text-decoration:none;
  font-family: 'Roboto';
  font-size:30px;
  padding:15px;
  display:block;
  text-align:center;
  color:white;
}

.navbar a:hover{
  background-color: rgb(206, 206, 255);
}

.navbar li{
  float:left;
}

.bio{
  padding-left:10%;
  padding-right:10%;
  padding-top:50px;
  font-family:'Roboto';
  background-image: linear-gradient(rgb(131, 180, 196),rgb(223, 223, 255));

}

.bio p{
  font-size:25px;
}